.mainColor {
	background-color: #DECB89;
}
.secColor {
	background-color: #FAFAFF;
}

* {font-family: "Montserrat";}

.inputs {
	margin-bottom: 1.25rem;
	width: 100%;
	border: none;
	border-bottom: 1px solid #A6A6A6;
	background-color: #FAFAFF;
}

.divOutline {
	box-shadow: 10px 10px #D9D9D9;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.education {
	padding: 20px;
	margin: 25px 80px;
}

.projects {
	padding: 20px;
	margin: 25px 30px;
}

.hobbies {
	padding: 20px;
	margin: 25px 100px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.activelink {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 6px;
}


.navHover a:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 6px;
	text-decoration-color: #FAFAFF;
	color: #FAFAFF;
}
.navHover button:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 6px;
	text-decoration-color: #FAFAFF;
	color: #FAFAFF;
}

li {
	list-style-type: square;
}

.separateContent {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   justify-content: space-between;
}

.hoverButt:hover {
	transform: scale(1.1);
	transition-duration: 0.4s;
}

.pageImg {
	height: auto;
	margin-left: auto;
	margin-right: 0;
	padding-bottom: 0;
}

.pageTitle {
	text-align: left;
	align-self: center;
}

.divTitle {
	font-size: 24px;
	line-height: 32px;
}


/* SCREEN RESPONSE */
@media only screen and (max-width: 768px) {  
  
  header .navhide {
	  display: none;
  }
  
  #hamburger-icon {
    display: block;
  }
  
  .title {
	font-size: 18px;
  }
  
  .pageTitle{
	  display: flex;
	  text-align: center;
	  justify-content: center;
	  align-items: center;
	  padding-bottom: 50px;
	  padding-top: 50px;
  }
  
  .pageImg {
	  display: block;
	  padding: 1px;
	  margin: 10px;
  }
  
  .projects {
	padding: 20px;
	margin: 25px;
  }
  
  .education {
	padding: 20px;
	margin: 25px;
  }
  
  .hobbies {
	padding: 20px;
	margin: 20px;
  }
  
  .divTitle {
	font-size: 20px;
	line-height: 28px;
  }
}